---
import '../styles/main.scss'

---

  
  <header class="header">
    <div class="header__image">
      <img src="https://placehold.co/1200x480" alt="Header Image">
    </div>
    <div class="header__content">
      <h1 class="header__title">Welcome to My Blog</h1>
      <p class="header__subtitle">A place for ideas, stories, and inspiration.</p>
      <a href="#posts" class="header__button">Explore Articles</a>
    </div>
  </header>